<a href="https://colab.research.google.com/github/DianaBarmina/cs102/blob/master/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%221_1_pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas

pandas — это библиотека Python для анализа данных. Данные, с которыми работают датасаентисты, часто хранятся в форме табличек — например, в форматах .csv, .tsv или .xlsx. С помощью библиотеки Pandas такие табличные данные очень удобно загружать, обрабатывать и анализировать с помощью SQL-подобных запросов.

Дополнительные материалы:
1. Документация Pandas - https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html
2. "Python и анализ данных", автор Уэс Маккинни 
3. "Изучаем pandas", автор Майкл Хейдт

In [ ]:
import pandas as pd

pandas использует два новых вида структур данных: Series и DataFrame. Series хранит столбцы данных, DataFrame -  таблицы. Методы для обработки столбцов преимущественно совпадают с методами для таблиц, поэтому основная часть примеров в этом блокноте про работу с таблицами (чтобы не пересказывать документацию). Примеры обработки отдельных строк всегда можно дополнительно посмотреть в документации.


## Cоздаем DataFrame из двумерного списка

In [ ]:
s = pd.Series(data=[1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

In [ ]:
display(df)
print(df)
df

    0   1
0  10  11
1  20  21
2  30  31

    0   1
0  10  11
1  20  21
2  30  31

    0   1
0  10  11
1  20  21
2  30  31

In [ ]:
df[0]

0    10
1    20
2    30
Name: 0, dtype: int64

Создаем таблицу с именованными столбцами

In [ ]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                  columns=['A', 'B'])
print(df)
display(df)
df

    A   B
0  10  11
1  20  21
2  30  31

    A   B
0  10  11
1  20  21
2  30  31

    A   B
0  10  11
1  20  21
2  30  31

Задаем имена столбцов после создания датафрейма

In [ ]:
df = pd.DataFrame([[13, 121], [230, 211], [300, 31]])
df

     0    1
0   13  121
1  230  211
2  300   31

In [ ]:
print(df)

     0    1
0   13  121
1  230  211
2  300   31

In [ ]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     13    121
1    230    211
2    300     31

#### При помощи функций

In [ ]:
df = pd.DataFrame.from_records([[13, 121], [230, 211], [300, 31]], columns=["c1", "c2"])
df

    c1   c2
0   13  121
1  230  211
2  300   31

#### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

Чаще всего датафреймы создаются путём считывания данных из CSV-файла с помощью функции pd.read_csv. В качестве примера в этом и нескольких следующих блокнотах будем использовать датасет с kaggle про [270 самых популярных программистских книг](https://www.kaggle.com/thomaskonstantin/top-270-rated-computer-science-programing-books?select=prog_book.csv).

Какие данные у нас есть?
271 строка и 7 столбцов:
* `Rating` - рейтинг книги от 0 до 5
* `Reviews` - количество отзывов
* `Book_title` - название книги
* `Description` - аннотация
* `Number_of_pages` - количество страниц
* `Type` - тип (электронная / в твердом переплете / в мягком переплете и др.)
* `Price` - усредненная цена (в долларах) по нескольким источникам

Обращайте внимание на разделитель. Вот этот код в зависимости от среды, где запускается файл, может выдать ошибку или некорректно считать данные. Перед запуском убедитесь в том, что загрузили этот файл в коллаб.

In [ ]:
pd.read_csv("prog_book.csv", sep=";")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 106, saw 3

Следующий код будет работать корректно.

In [ ]:
pd.read_csv("prog_book.csv", sep=',') # вообще, по умолчанию, sep=","

,Rating,Reviews,Book_title,Description,Number_Of_Pages,Type,Price
0,4.17,"3,829",The Elements of Style,This style manual offers practical advice on i...,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood","James Gleick, the author of the best sellers C...",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,In Responsive Web Design Overview For Beginner...,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,If they were a hall of fame or shame for compu...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,Both Eric Schmidt and Jonathan Rosenberg came ...,305,Kindle Edition,13.164706
...,...,...,...,...,...,...,...
266,3.76,0,3D Game Engine Architecture: Engineering Real-...,Dave Eberly's 3D Game Engine Design was the fi...,752,Hardcover,203.108823
267,3.94,22,An Introduction to Database Systems,"Continuing in the eighth edition, An Introduct...",1040,Paperback,212.097059
268,4.49,36,"The Art of Computer Programming, Volumes 1-3 B...",Knuth's classic work has been widely acclaimed...,896,Boxed Set - Hardcover,220.385294
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...","""The bible of all fundamental algorithms and t...",3168,Hardcover,220.385294
270,3.84,5,A Discipline for Software Engineering,Designed to help individual programmers develo...,789,Hardcover,235.650000

Функция read_csv предоставляет широкий список тонких настроек считывания данных. Здесь рассмотрим лишь некоторые из них. 

Можно считывать не все строки и не все столбцы. Строки:

In [ ]:
pd.read_csv("prog_book.csv", nrows = 3)

,Rating,Reviews,Book_title,Description,Number_Of_Pages,Type,Price
0,4.17,"3,829",The Elements of Style,This style manual offers practical advice on i...,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood","James Gleick, the author of the best sellers C...",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,In Responsive Web Design Overview For Beginner...,50,Kindle Edition,11.267647

столбцы

In [ ]:
pd.read_csv("prog_book.csv",
           nrows = 3,
           usecols=["Rating", "Reviews", "Book_title", "Number_Of_Pages", "Type", "Price"])

,Rating,Reviews,Book_title,Number_Of_Pages,Type,Price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647

In [ ]:
books = pd.read_csv("prog_book.csv",
                    usecols=["Rating", "Reviews", "Book_title", "Number_Of_Pages", "Type", "Price"])
books

,Rating,Reviews,Book_title,Number_Of_Pages,Type,Price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,305,Kindle Edition,13.164706
...,...,...,...,...,...,...
266,3.76,0,3D Game Engine Architecture: Engineering Real-...,752,Hardcover,203.108823
267,3.94,22,An Introduction to Database Systems,1040,Paperback,212.097059
268,4.49,36,"The Art of Computer Programming, Volumes 1-3 B...",896,Boxed Set - Hardcover,220.385294
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
270,3.84,5,A Discipline for Software Engineering,789,Hardcover,235.650000

Работая в гугл колабе удобно некоторые датасеты хранить на гугл диске. Ниже представлен код, позволяющий организовать чтение датасетов с гугл.диска.

#### Локальное подключение

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
books = pd.read_csv("/content/drive/MyDrive/ITMO.Work/21 22/ВИМ/data/prog_book.csv")
books

FileNotFoundError: ignored

### Свойства

Мы узнали, как создать датафреймы библиотеки Pandas. Дадим описание основных свойств этой структуры.

#### количество элементов

In [ ]:
print(f'Кол-во строк: {len(books)}')
print(f'Кол-во ячеек: {books.size}')
print(f'Размерность: {books.shape}')

Кол-во строк: 271
Кол-во ячеек: 1626
Размерность: (271, 6)

In [ ]:
s.size, df.shape[0]

(4, 3)

#### количество уникальных элементов

In [ ]:
books.nunique()

Rating              94
Reviews            133
Book_title         271
Number_Of_Pages    185
Type                 6
Price              241
dtype: int64

значения уникальных элементов столбца

In [ ]:
books.Type.unique()

array(['Hardcover', 'Kindle Edition', 'Paperback', 'ebook',
       'Unknown Binding', 'Boxed Set - Hardcover'], dtype=object)

#### индекс и значения

In [ ]:
books.index

RangeIndex(start=0, stop=271, step=1)

In [ ]:
books.values

array([[4.17, '3,829', 'The Elements of Style', 105, 'Hardcover',
        9.323529412],
       [4.01, '1,406', 'The Information: A History, a Theory, a Flood',
        527, 'Hardcover', 11.0],
       [3.33, '0', 'Responsive Web Design Overview For Beginners', 50,
        'Kindle Edition', 11.26764706],
       ...,
       [4.49, '36',
        'The Art of Computer Programming, Volumes 1-3 Boxed Set', 896,
        'Boxed Set - Hardcover', 220.3852941],
       [4.77, '4',
        'The Art of Computer Programming, Volumes 1-4a Boxed Set', 3168,
        'Hardcover', 220.3852941],
       [3.84, '5', 'A Discipline for Software Engineering', 789,
        'Hardcover', 235.65]], dtype=object)

In [ ]:
books.columns

Index(['Rating', 'Reviews', 'Book_title', 'Number_Of_Pages', 'Type', 'Price'], dtype='object')

#### присвоение / изменение имени

##### столбца

In [ ]:
books_copy = books.rename(columns = {'Book_title': 'title', 'Number_Of_Pages': "pages"})

проверяем, не изменились ли имена столбцов в исходном датафрейме

In [ ]:
books.columns

Index(['Rating', 'Reviews', 'Book_title', 'Number_Of_Pages', 'Type', 'Price'], dtype='object')

In [ ]:
books_copy.columns

Index(['Rating', 'Reviews', 'title', 'pages', 'Type', 'Price'], dtype='object')

этот программный код переименовывает столбец на месте

In [ ]:
books.rename(columns = {'Book_title': 'title', 'Number_Of_Pages': "pages",
                        "Rating": "rating", "Price": "price",
                        "Reviews": "reviews", "Type": "type"},
            inplace=True)

смотрим изменилось ли имя столбца

In [ ]:
books.columns

Index(['rating', 'reviews', 'title', 'pages', 'type', 'price'], dtype='object')

### Вывод значений

#### первые / последние строки

В данном разделе будут показаны несколько способов вывода значений DataFrame. Библиотека Pandas предлагает методы .head() и .tail() для исследования первых или последних строк.

In [ ]:
books.head(2)

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000

In [ ]:
books.tail(3)

,rating,reviews,title,pages,type,price
268,4.49,36,"The Art of Computer Programming, Volumes 1-3 B...",896,Boxed Set - Hardcover,220.385294
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
270,3.84,5,A Discipline for Software Engineering,789,Hardcover,235.650000

случайные строки

In [ ]:
books.sample(2)

,rating,reviews,title,pages,type,price
72,4.15,17,Make Your Own Neural Network: An In-depth Visu...,316,Kindle Edition,31.747059
226,3.59,0,Genetic Programming II: Automatic Discovery of...,768,Hardcover,82.367647

можно задать рандомное состояние и долю строк датафрейма вместо количества

In [ ]:
books.sample(frac=0.05, random_state=42)

,rating,reviews,title,pages,type,price
30,4.25,16,Coding Games in Scratch,224,Paperback,21.088235
116,4.20,23,Cryptography Engineering: Design Principles an...,353,Paperback,42.367647
79,4.34,11,Practical SQL: A Beginner's Guide to Storytell...,392,Paperback,34.429412
127,3.83,4,The Scrumban [R]Evolution: Getting the Most Ou...,384,Kindle Edition,45.029412
196,3.87,13,Domain-Specific Languages,597,Hardcover,64.391176
137,4.62,28,The Linux Programming Interface: A Linux and U...,1506,Hardcover,46.358824
209,4.31,36,"The Protocols (TCP/IP Illustrated, Volume 1)",600,Hardcover,70.758824
45,4.27,"2,629","The Phoenix Project: A Novel About IT, DevOps,...",345,Hardcover,24.258824
158,4.23,6,Exceptional C++ Style: 40 New Engineering Puzz...,325,Paperback,51.473529
247,3.90,2,Computational Science and Engineering,716,Hardcover,97.526471
183,4.18,351,Design Patterns: Elements of Reusable Object-O...,416,Hardcover,60.682353
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
227,3.48,3,Optimized C++: Proven Techniques for Heightene...,388,Paperback,83.150000
82,3.88,279,Soft Skills: The Software Developer's Life Manual,470,Paperback,35.235294

#### столбцы

извлекаем столбец `price`

In [ ]:
books['price'].head()

0     9.323529
1    11.000000
2    11.267647
3    12.873529
4    13.164706
Name: price, dtype: float64

тип столбца датафрейма:

In [ ]:
type(books['price'])

pandas.core.series.Series

извлекаем столбцы `title` и `price`

In [ ]:
books[["title", 'price']].head()

                                               title      price
0                              The Elements of Style   9.323529
1      The Information: A History, a Theory, a Flood  11.000000
2       Responsive Web Design Overview For Beginners  11.267647
3  Ghost in the Wires: My Adventures as the World...  12.873529
4                                   How Google Works  13.164706

покажем, что результат является объектом DataFrame

In [ ]:
type(books[["title", 'price']])

pandas.core.frame.DataFrame

атрибутивный доступ к столбцу по имени

In [ ]:
books.price.head()

0     9.323529
1    11.000000
2    11.267647
3    12.873529
4    13.164706
Name: price, dtype: float64

> Код выше не сработает, если имя столбца содержит пробел.

#### строки

Метод .loc позволят выбирать строки по условию или индексу.

получаем строку с меткой индекса 16, которая возвращается в виде объекта Series

In [ ]:
books.loc[16]

rating                                                  3.85
reviews                                                   80
title      The Quark and the Jaguar: Adventures in the Si...
pages                                                    392
type                                               Paperback
price                                              16.367647
Name: 16, dtype: object

получаем строки 16 и 157 результатом будет объект DataFrame

In [ ]:
books.loc[[16, 157]]

,rating,reviews,title,pages,type,price
16,3.85,80,The Quark and the Jaguar: Adventures in the Si...,392,Paperback,16.367647
157,4.23,2,More Exceptional C++: 40 New Engineering Puzzl...,304,Paperback,51.473529

##### по позиции

Второй подход к отбору значений Series и строк DataFrame - это использование номера позиции в индексе. Данную задачу решает свойство .iloc.

получаем строки, имеющие позиции 0 и 2

In [ ]:
books.head(3)

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647

In [ ]:
books.iloc[[0, 2]]

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647

#### поиск скалярного значения

Отдельные скалярные значения можно найти по метке с помощью свойства .at, передав ему одновременно метку строки и метку столбца. Кроме того, скалярные значения можно найти по позиции с помощью свойства .iat[], передав позицию строки, а затем позицию столбца. Это предпочтительный метод доступа к отдельным значениям и дает максимальную производительность.

ищем скалярное значение по метке строки и метке (имени) столбца

In [ ]:
books.at[16, 'title']

'The Quark and the Jaguar: Adventures in the Simple and the Complex'

ищем скалярное значение по позиции строки и позиции столбца; извлекаем значение в строке 0, столбце 1

In [ ]:
books.iat[0, 2]

'The Elements of Style'

#### одновременный отбор строк и столбцов

Отбор подмножества данных, состоящего из набора строк и столбцов, является общепринятой практикой. Данный программный код демонстрирует это, сначала отобрав строки, а затем нужные столбцы.

Отбираем строки с метками индекса 16 и 28 для столбцов `title` и `price`.
Для этого есть две эквивалентные записи.

In [ ]:
books.loc[[16, 28]][['title', 'price']]

                                                title      price
16  The Quark and the Jaguar: Adventures in the Si...  16.367647
28                    Computability and Unsolvability  20.400000

In [ ]:
books.loc[[16, 28],['title', 'price']]

                                                title      price
16  The Quark and the Jaguar: Adventures in the Si...  16.367647
28                    Computability and Unsolvability  20.400000

определение номера позиций заданных меток

In [ ]:
print(books.index.get_loc(16), books.index.get_loc(28))

16 28

отбор строк и столбцов по номеру позиций

In [ ]:
books.iloc[[16, 28],[0,2]]

    rating                                              title
16    3.85  The Quark and the Jaguar: Adventures in the Si...
28    3.96                    Computability and Unsolvability

В этом примере индекс и номер позиции совпадают, но это вполне может быть не так.

#### транспонирование

In [ ]:
books.head()

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,305,Kindle Edition,13.164706

In [ ]:
books.head(2).T

                             0                                              1
rating                    4.17                                           4.01
reviews                  3,829                                          1,406
title    The Elements of Style  The Information: A History, a Theory, a Flood
pages                      105                                            527
type                 Hardcover                                      Hardcover
price                 9.323529                                           11.0

### Фильтрация по условию

Индексы предлагают очень мощный и эффективный способ поиска значений на основе их меток. Но что, если вы хотите найти записи на основе значений? Для решения этой задачи библиотека Pandas предлагает воспользоваться фильтрацией по условию. Это применение логического выражения к значениям и возвращение нового объекта булевых значений, представляющих собой результат применения этого выражения к каждому значению. Затем этот результат можно использовать для извлечения лишь тех значений, где был получен результат True. 

Посмотрим примеры.

#### DataFrame

какие строки имеют значения `price` < 15?

In [ ]:
books.price < 15

0       True
1       True
2       True
3       True
4       True
       ...
266    False
267    False
268    False
269    False
270    False
Name: price, Length: 271, dtype: bool

теперь получим строки, в которых `price` < 15

In [ ]:
books[books.price < 15]

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,305,Kindle Edition,13.164706
5,3.84,117,The Meme Machine,288,Paperback,14.188235
6,4.09,"5,938",Start with Why: How Great Leaders Inspire Ever...,256,Hardcover,14.232353
7,4.15,"1,817",Algorithms to Live By: The Computer Science of...,368,Hardcover,14.364706
8,3.87,"2,093",Weapons of Math Destruction: How Big Data Incr...,259,Hardcover,14.502941
9,4.62,0,ZX Spectrum Games Code Club: Twenty fun games ...,128,Paperback,14.641176

или

In [ ]:
books.loc[books.price < 15]

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,305,Kindle Edition,13.164706
5,3.84,117,The Meme Machine,288,Paperback,14.188235
6,4.09,"5,938",Start with Why: How Great Leaders Inspire Ever...,256,Hardcover,14.232353
7,4.15,"1,817",Algorithms to Live By: The Computer Science of...,368,Hardcover,14.364706
8,3.87,"2,093",Weapons of Math Destruction: How Big Data Incr...,259,Hardcover,14.502941
9,4.62,0,ZX Spectrum Games Code Club: Twenty fun games ...,128,Paperback,14.641176

извлекаем лишь те строки, в которых значение `15 <= price < 20`

In [ ]:
r = books[(books['price'] < 20) &
          (books.price >= 15)]['price']
r

10    15.229412
11    15.229412
12    15.326471
13    15.682353
14    15.885294
15    16.073529
16    16.367647
17    16.852941
18    16.891176
19    17.229412
20    17.491176
21    17.620588
22    18.938235
23    19.132353
24    19.152941
25    19.247059
26    19.855882
Name: price, dtype: float64

использование метода .isin

In [ ]:
from collections import Counter
Counter(books.pages)

Counter({105: 1,
         527: 1,
         50: 1,
         393: 1,
         305: 1,
         288: 7,
         256: 3,
         368: 2,
         259: 1,
         128: 1,
         352: 5,
         200: 1,
         328: 4,
         240: 3,
         392: 2,
         304: 4,
         336: 6,
         542: 2,
         192: 3,
         242: 1,
         224: 4,
         412: 1,
         318: 1,
         432: 1,
         320: 7,
         384: 6,
         448: 4,
         416: 3,
         184: 1,
         219: 1,
         153: 1,
         176: 5,
         257: 1,
         410: 2,
         190: 2,
         170: 1,
         446: 1,
         345: 3,
         558: 1,
         140: 1,
         343: 1,
         258: 1,
         293: 1,
         539: 1,
         317: 1,
         560: 4,
         370: 2,
         120: 1,
         442: 1,
         377: 1,
         250: 1,
         281: 1,
         400: 3,
         350: 2,
         312: 2,
         316: 1,
         290: 1,
         479: 1,
         576: 1,
         237: 1,
         188: 1,
         470: 1,
         375: 1,
         1200: 1,
         376: 1,
         210: 3,
         462: 1,
         227: 1,
         388: 2,
         326: 3,
         160: 1,
         546: 1,
         325: 2,
         422: 1,
         300: 1,
         197: 1,
         262: 2,
         260: 1,
         421: 1,
         372: 1,
         353: 1,
         322: 2,
         914: 1,
         366: 2,
         239: 1,
         554: 1,
         264: 1,
         1008: 1,
         324: 1,
         616: 1,
         286: 1,
         248: 1,
         828: 1,
         330: 1,
         1506: 1,
         434: 1,
         245: 1,
         216: 1,
         208: 2,
         280: 1,
         496: 1,
         247: 1,
         570: 1,
         180: 1,
         512: 1,
         292: 1,
         252: 1,
         851: 1,
         386: 1,
         638: 1,
         463: 1,
         283: 1,
         658: 1,
         816: 1,
         431: 3,
         360: 1,
         657: 2,
         514: 1,
         464: 2,
         355: 1,
         458: 1,
         472: 1,
         460: 1,
         487: 1,
         379: 1,
         959: 1,
         976: 3,
         480: 1,
         584: 1,
         233: 1,
         528: 1,
         792: 1,
         597: 1,
         656: 1,
         863: 1,
         728: 1,
         927: 1,
         1214: 1,
         1040: 3,
         545: 1,
         600: 2,
         928: 1,
         475: 1,
         908: 1,
         544: 1,
         357: 1,
         672: 2,
         414: 1,
         730: 1,
         864: 1,
         883: 1,
         768: 1,
         787: 1,
         582: 1,
         801: 1,
         720: 1,
         1142: 1,
         552: 1,
         846: 1,
         575: 1,
         791: 1,
         1180: 1,
         626: 1,
         624: 1,
         1052: 1,
         716: 1,
         521: 1,
         1056: 1,
         493: 1,
         978: 1,
         1136: 2,
         669: 1,
         362: 1,
         936: 1,
         724: 1,
         1132: 1,
         700: 1,
         796: 1,
         703: 1,
         663: 1,
         1235: 1,
         752: 1,
         896: 1,
         3168: 1,
         789: 1})

In [ ]:
s_tmp = books.pages.isin([256, 288])
s_tmp

0      False
1      False
2      False
3      False
4      False
       ...
266    False
267    False
268    False
269    False
270    False
Name: pages, Length: 271, dtype: bool

In [ ]:
books[s_tmp].head()

,rating,reviews,title,pages,type,price
5,3.84,117,The Meme Machine,288,Paperback,14.188235
6,4.09,"5,938",Start with Why: How Great Leaders Inspire Ever...,256,Hardcover,14.232353
15,3.95,417,Kingpin: How One Hacker Took Over the Billion-...,288,Hardcover,16.073529
28,3.96,1,Computability and Unsolvability,288,Paperback,20.400000
84,3.83,278,Automate This: How Algorithms Came to Rule Our...,256,Hardcover,35.841176

использование метода .query

In [ ]:
q = books.query("price < 20 & price > 15 | type == 'Hardcover'")[['price', 'type']]
q

          price       type
0      9.323529  Hardcover
1     11.000000  Hardcover
3     12.873529  Hardcover
6     14.232353  Hardcover
7     14.364706  Hardcover
..          ...        ...
264  143.138235  Hardcover
265  176.144118  Hardcover
266  203.108823  Hardcover
269  220.385294  Hardcover
270  235.650000  Hardcover

[103 rows x 2 columns]

### Добавление

#### оператор [ ]

создаем копию, чтобы исходные данные остались в неизменном виде

In [ ]:
books_copy = books.copy()

добавляем столбец

In [ ]:
books_copy['RoundedPrice'] = books_copy.price.round()
books_copy.head(3)

,rating,reviews,title,pages,type,price,RoundedPrice
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529,9.0
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000,11.0
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647,11.0

### Сортировка

#### по индексу

Для лексикографической сортировки по индексу служит метод sort_index, который возвращает новый отсортированный объект. В случае DataFrame можно сортировать по индексу, связанному с любой осью - строками или столбцами. В данном примере сортировка производится по меткам оси столбцов.

In [ ]:
books.head()

,rating,reviews,title,pages,type,price
0,4.17,"3,829",The Elements of Style,105,Hardcover,9.323529
1,4.01,"1,406","The Information: A History, a Theory, a Flood",527,Hardcover,11.000000
2,3.33,0,Responsive Web Design Overview For Beginners,50,Kindle Edition,11.267647
3,3.97,"1,658",Ghost in the Wires: My Adventures as the World...,393,Hardcover,12.873529
4,4.06,"1,325",How Google Works,305,Kindle Edition,13.164706

In [ ]:
books.sort_index(ascending=False).head()

,rating,reviews,title,pages,type,price
270,3.84,5,A Discipline for Software Engineering,789,Hardcover,235.650000
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
268,4.49,36,"The Art of Computer Programming, Volumes 1-3 B...",896,Boxed Set - Hardcover,220.385294
267,3.94,22,An Introduction to Database Systems,1040,Paperback,212.097059
266,3.76,0,3D Game Engine Architecture: Engineering Real-...,752,Hardcover,203.108823

#### по значению

Объект Dataframe можно сортировать по значениям в одном или нескольких столбцах. Для этого имена столбцов следует передать в качестве значения параметра "by" метода sort_values. По умолчанию данные сортируются в порядке возрастания, но можно отсортировать и в порядке убывания. Используем параметр ascending.

In [ ]:
books.sort_values(by='price', ascending=False).head()

,rating,reviews,title,pages,type,price
270,3.84,5,A Discipline for Software Engineering,789,Hardcover,235.650000
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
268,4.49,36,"The Art of Computer Programming, Volumes 1-3 B...",896,Boxed Set - Hardcover,220.385294
267,3.94,22,An Introduction to Database Systems,1040,Paperback,212.097059
266,3.76,0,3D Game Engine Architecture: Engineering Real-...,752,Hardcover,203.108823

#### наименьшее / наибольшее значение

Еще один полезный функционал библиотеки Pandas - это вывод наименьших, наибольших значений. Соответственно методы .nsmallest, .nlargest

In [ ]:
books.nsmallest(5, 'rating')

,rating,reviews,title,pages,type,price
177,3.00,0,Advanced Game Programming: A Gamedev.Net Colle...,464,Paperback,59.082353
182,3.00,0,Cross-Platform Game Programming (Game Developm...,460,Paperback,60.391176
187,3.00,0,"Lambda-Calculus, Combinators and Functional Pr...",192,Paperback,61.167647
24,3.20,0,Game Programming Golden Rules,318,Paperback,19.152941
86,3.22,2,Beginning Java 2,1200,Paperback,36.617647

In [ ]:
books.nlargest(5, 'rating')

,rating,reviews,title,pages,type,price
54,5.00,0,Your First App: Node.js,317,ebook,25.855882
269,4.77,4,"The Art of Computer Programming, Volumes 1-4a ...",3168,Hardcover,220.385294
131,4.72,362,Designing Data-Intensive Applications: The Big...,616,Paperback,45.561765
114,4.67,1,Build Web Applications with Java: Learn every ...,372,Paperback,42.276471
194,4.67,78,"Fluent Python: Clear, Concise, and Effective P...",792,Paperback,64.091176

# Обработка пустых значений

создаем датафрейм с 5 строками и 3 столбцами

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'], 
                  columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

- добавляем несколько столбцов и строк в датафрейм столбец c4 со значениями NaN
- строка 'f' со значениями от 15 до 18 
- строка 'g', состоящая из значений NaN
- столбец 'c5', состоящий из значений NaN
- меняем значение в столбце 'c4' строки 'a'

In [ ]:
df['c4'] = np.nan
df.loc['f'] = np.arange(15, 19) 
df.loc['g'] = np.nan
df['c5'] = np.nan
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

### Пропущенные значения

#### поиск

какие элементы являются значениями NaN?

In [ ]:
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

какие элементы являются непропущенными значениями? (можем использовать ~df.isnull() )

In [ ]:
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

подсчитываем количество значений NaN в каждом столбце

In [ ]:
df.isnull().sum(axis=0)

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

вычисляем количество значений, отличных от NaN, по каждому столбцу (можем использовать len(df) - df.isnull().sum())

In [ ]:
df.count(axis=0)

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

# Сводка статистик

получаем сводку статистик для датафрейма, с которой работаем как с обычным датафреймом

In [ ]:
books.describe()

           rating        pages       price
count  271.000000   271.000000  271.000000
mean     4.067417   475.077491   54.541860
std      0.290749   306.147492   35.711485
min      3.000000    50.000000    9.323529
25%      3.915000   289.000000   30.751471
50%      4.100000   384.000000   46.317647
75%      4.250000   572.500000   67.854412
max      5.000000  3168.000000  235.650000

иногда удобно сводную табличку транспонировать

In [ ]:
books.describe().T

,count,mean,std,min,25%,50%,75%,max
rating,271.0,4.067417,0.290749,3.000000,3.915000,4.100000,4.250000,5.00
pages,271.0,475.077491,306.147492,50.000000,289.000000,384.000000,572.500000,3168.00
price,271.0,54.541860,35.711485,9.323529,30.751471,46.317647,67.854412,235.65

можно заметить, что вывелись статистики только по числовым данным, чтобы вывести статистику по всем столбцам, нужно прописать параметр `include="all"` (но это не единственный способ)

In [ ]:
books.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
rating,271.0,NaN,NaN,NaN,4.067417,0.290749,3.0,3.915,4.1,4.25,5.0
reviews,271,133,0,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,271,271,The Elements of Style,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pages,271.0,NaN,NaN,NaN,475.077491,306.147492,50.0,289.0,384.0,572.5,3168.0
type,271,6,Paperback,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,271.0,NaN,NaN,NaN,54.54186,35.711485,9.323529,30.751471,46.317647,67.854412,235.65

вычисляем сводку статистик для отдельного столбца

In [ ]:
books.price.describe()

count    271.000000
mean      54.541860
std       35.711485
min        9.323529
25%       30.751471
50%       46.317647
75%       67.854412
max      235.650000
Name: price, dtype: float64

In [ ]:
books.title.describe()

count                       271
unique                      271
top       The Elements of Style
freq                          1
Name: title, dtype: object

метод info:

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rating   271 non-null    float64
 1   reviews  271 non-null    object
 2   title    271 non-null    object
 3   pages    271 non-null    int64
 4   type     271 non-null    object
 5   price    271 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 12.8+ KB

получаем сводную статистику для нечисловых данных

In [ ]:
books.type.value_counts(normalize=True) # без normalize=True получим просто количество

Paperback                0.575646
Hardcover                0.350554
Kindle Edition           0.036900
ebook                    0.025830
Unknown Binding          0.007380
Boxed Set - Hardcover    0.003690
Name: type, dtype: float64

### Арифметические операции

- задаем стартовое значение генератора случайных чисел для получения воспроизводимых результатов
- создаем объект DataFrame

In [ ]:
np.random.seed(123)
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

умножаем все на 2, берём только абсолютные значения

In [ ]:
abs(df * 2)

          A         B         C         D
0  2.171261  1.994691  0.565957  3.012589
1  1.157201  3.302873  4.853358  0.857825
2  2.531873  1.733481  1.357772  0.189418
3  2.982779  1.277804  0.887964  0.868703
4  4.411860  4.373572  2.008108  0.772373

вычитаем первую строку из каждой строки объекта DataFrame

In [ ]:
df

          A         B         C         D
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [ ]:
df.iloc[0]

A   -1.085631
B    0.997345
C    0.282978
D   -1.506295
Name: 0, dtype: float64

In [ ]:
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.507030  0.654091 -2.709658  1.077382
2  2.351567 -1.864086 -0.961865  1.411586
3  2.577020 -1.636247 -0.726960  1.071943
4  3.291561  1.189441  0.721075  1.892481

### Одномерные статистики

#### минимум / максимум

In [ ]:
books_copy[['price', 'pages']].max()

price     235.65
pages    3168.00
dtype: float64

определяем индекс строк

In [ ]:
books_copy[['price', 'pages']].idxmax()

price    270
pages    269
dtype: int64

#### cреднее значение / медиана / мода

вычисляем среднее значение для всех столбцов в датафрейме books

In [ ]:
books.mean()

/Users/ana_cher/.conda/envs/phd/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

rating      4.067417
pages     475.077491
price      54.541860
dtype: float64

вычисляем значение, усредненное по всем столбцам, для каждой строки и выведем первые 5 (не очень логично для этого датасета, да)

In [ ]:
books.mean(axis=1).head()

/Users/ana_cher/.conda/envs/phd/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     39.497843
1    180.670000
2     21.532549
3    136.614510
4    107.408235
dtype: float64

вычисляем медиану значений для каждого столбца

In [ ]:
books.median()

/Users/ana_cher/.conda/envs/phd/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

rating      4.100000
pages     384.000000
price      46.317647
dtype: float64

вычисляем моду для столбца state

In [ ]:
books.type.mode()

0    Paperback
dtype: object

мод может быть несколько, поэтому результат операции - Series

In [ ]:
s = pd.Series([1, 2, 3, 3, 5, 1])
s.mode()

0    1
1    3
dtype: int64

#### [дисперсия](https://ru.wikipedia.org/wiki/Дисперсия_случайной_величины) / среднеквадратичное отклонение

вычисляем дисперсию значений в каждом столбце

In [ ]:
books.var()

/Users/ana_cher/.conda/envs/phd/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

rating        0.084535
pages     93726.286566
price      1275.310136
dtype: float64

вычисляем среднеквадратичное отклонение

In [ ]:
books.std()

/Users/ana_cher/.conda/envs/phd/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

rating      0.290749
pages     306.147492
price      35.711485
dtype: float64

#### [корреляция](https://ru.wikipedia.org/wiki/Корреляция)

вычисляем корреляцию между age и RoundedAge

In [ ]:
books_copy.price.corr(books_copy.RoundedPrice)

0.999969245572987

либо можем получать матрицу корреляций

In [ ]:
books_copy.corr()

                rating     pages     price  RoundedPrice
rating        1.000000  0.132189  0.046697      0.046046
pages         0.132189  1.000000  0.636951      0.637064
price         0.046697  0.636951  1.000000      0.999969
RoundedPrice  0.046046  0.637064  0.999969      1.000000

## Группировка

In [ ]:
sales = pd.read_csv("/content/drive/MyDrive/ITMO.Work/21 22/ВИМ/data/sales_train.csv")
sales

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [ ]:
sales.groupby(["item_id"])["item_price"].max()

item_id
0          58.0
1        4490.0
2          58.0
3         100.0
4          58.0
          ...
22165      59.0
22166     150.0
22167     299.0
22168     799.0
22169    4349.0
Name: item_price, Length: 21807, dtype: float64

In [ ]:
sales.groupby(["shop_id", "item_id"])["item_price"].mean()

shop_id  item_id
0        30         265.000
         31         434.000
         32         221.000
         33         347.000
         35         247.000
                     ...
59       22154      999.000
         22155      149.000
         22162      389.625
         22164      724.000
         22167      299.000
Name: item_price, Length: 424124, dtype: float64